<!doctype html>
<html ng-app="ktane">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/annyang.min.js"></script>
    <script src="ktane.js"></script>
    <link rel="stylesheet" href="ktane.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="ktaneController">

    Current module: {{ currentmodule }}<br/>

    Batteries: {{ bombproperties.batteries.value }}<br/>
    FRK: {{ bombproperties.frk.value }}<br/>
    CAR: {{ bombproperties.car.value }}<br/>
    Parallel port: {{ bombproperties.parallelport.value }}<br/>
    Serial number: Even/odd: {{ bombproperties.serialnumber_evenodd.value }}<br/>
    Serial number: Vowel: {{ bombproperties.serialnumber_vowel.value }}<br/>

    <h3>Simple Wires</h3>
    Number: {{simplewires.numberOfWires}}
    <h3>Button</h3>
    Colour: {{button.colour}}<br/>
    Word: {{button.word}}<br/>
    Held colour: {{button.heldcolour}}

    <h3>Maze</h3>
    Startingposition: {{maze.startingposition}}<br/>
    Targetposition: {{maze.targetposition}}<br/>
    Maze ID: {{maze.selectedmazeid}}<br/>


    <h3>Password</h3>
    Letters: {{password.letters}}<br/>


    <h3>Wire Sequence</h3>
    Letters: {{wiresequence.counts}}<br/>



    <h3>Memory</h3>
    Stage: {{memory.stage}}<br/>
    Stages: {{memory.stages}}<br/>


    <h3>Complicated wires</h3>
    Last wire: {{complicatedwires.stage}}<br/>



    <h3>Memory</h3>
    Word on Display: {{whosonfirst.displayword}}<br/>
    Selected button position: {{whosonfirst.position}}<br/>
    Word on button: {{whosonfirst.buttonword}}<br/>
    Answer: {{whosonfirst.answer}}<br/>


    <h3>Morse</h3>
    Streaks {{morsecode.streaks}}<br/>
    Max amplitude {{morsecode.maxamplitude}}<br/>
    Max dash {{morsecode.maxdash}}<br/>
    Min dot {{morsecode.mindot}}<br/>
    Text {{morsecode.text}}<br/>
    <ul>
        <li ng-repeat="word in morsecode.candidates">{{word.word}} - {{ word.morse }}</li>
    </ul>

    <div>
        <style>
            .black {
                background-color: black;
            }
            .morseblock {
                display: inline-block;
            }
        </style>
        <span ng-repeat="streak in morsecode.streaks" class="morseblock" ng-style="{'width': streak.streak + 'px'}" ng-class="{black: streak.value}">&nbsp;</span>
    </div>
    <hr/>

    <ul>
        <li ng-repeat="logitem in logitems track by $index">{{ logitem }}</li>
    </ul>

    <div>
        <form ng-submit="simulateSpeech()">
            <input type="text" ng-model="phrase"  size="30"
                   placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>

</div>
</body>
</html>
